body {
    background-color: #cacaca;

}

header {
    margin-top: 50px;
    margin-bottom: 20px;
}

.left-header-section {

}

.seach-form {

}

.main-input-label {

}

.input-and-button {

}

.main-input {
    width: 500px;
    border-radius: 0;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.main-search-btn {

}

.left-header-section {

}

.movie-cards-wrapper {
    
}

.movie-card {
    margin: 10px;
    text-align: center;
    /*position: relative;*/
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.movie-card img {
    width: 100%;
    /*height: 430px;*/
    /*padding: 10px;*/
    margin-top: 15px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.trailer-btn {
    /*position: absolute;
    bottom: 15px;
    right: 100px;*/
    margin: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.8);
}

.modal-content {
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, 0);
}
