body {
    background-color: #F1F1F1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

header {
    background-color: #fff;
    /*margin-top: 50px;*/
    height: 66px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.left-header-section {
    display: inline-block;
    width: 25%;
}

.middle-header-section {
    display: inline-block;
    width: 50%;
}

.search-wrapper {
    position: relative;

}

.seach-form {
    position: relative;
    margin: 16px;
}

.main-input-label {

}

.main-input {
    font-style: italic;
    height: 30px;
    outline: none;
    padding: 0 0 0 5px;
    width: calc(100% - 50px);
    max-width: 650px;
    border-radius: 0;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 0 1px 1px rgba(91,187,211,0.4);
}

.main-input:focus {
    border: 1px solid rgba(91,187,211,0.8);
    transition: all .2s;
}


.main-search-btn {
    float: right;
    color: #333;
    font-weight: bold;
    position: absolute;
    width: 50px;
    height: 32px;
    background:
    radial-gradient(
      circle at 0 0,
      #eee,
      #ccc
    );
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
}

.main-search-btn:hover {
    color: #5bbbd3;
    transition: all .2s;
}

.right-header-section {
    display: inline-block;
    width: 25%;
}

.movie-cards-wrapper {
    /*text-align: center;*/
    position: relative;
    margin: 20px 5%;

    /*margin-top: */
}

.movie-card {
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.movie-card img {
    height: 360px;
    margin: 15px;
    border-radius: 1px;
    background-color: #fff;
    /*box-shadow: 1px 2px 2px rgba(0,0,0,0.4);*/
}

.lower-card {
    font-size: 13px;
    margin: 0 15px 5px 15px;
}

.lower-card-left {
    font-weight: bold;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.lower-card-middle {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.trailer-btn {

    font-weight: bold;
    color: #FEFEFE;
    background-color: #CC181E;
    margin: 5px;
    text-align: center;
    height: 2em;
    width: 6.3em;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.9;
    /*transition: */
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.8);*/
}

.trailer-btn:hover {
    opacity: 1;
    box-shadow: 0 0 2px 0 rgba(130,130,130,0.8);
}

.lower-card-right {
    width: 25%;
    display: inline-block;
    text-align: right;
}

.modal-off {
    visibility: hidden;
    /*position: fixed;*/
    /*z-index: 999;*/
    /*top: 80px;
    left: 80px;
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 50px 5px rgba(1,1,1,0.5);*/

}


.modal-on {
    visibility: visible;
    position: fixed;
    z-index: 999;
    top: 20px;
    left: calc(50% - 300px);
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 50px 5px rgba(130,130,130,0.5);
    transform: translate(0, 20%);
    transition: transform .3s ease-in;
}

.dimmer-off {
    visibility: hidden;
}

.off {
    visibility: hidden;
}

.dimmer-on {
    visibility: visible;
    position: fixed;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    opacity: .8;
    transition: opacity .3s, background-color .3s;
}

/*.modal-content {
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, 0);
}*/

.reloader {
    width: 100%;
    height: 80px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .9);
}
