body {
    background-color: #cacaca;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

header {
    margin-top: 50px;
    margin-bottom: 20px;
}

.left-header-section {

}

.seach-form {

}

.main-input-label {

}

.input-and-button {

}

.main-input {
    width: 500px;
    border-radius: 0;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.main-search-btn {

}

.left-header-section {

}

.movie-cards-wrapper {
    /*text-align: center;*/
    position: relative;
    margin: 20px 5%;

    /*margin-top: */
}

.movie-card {
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.movie-card img {
    margin: 15px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.lower-card {
    margin: 0 15px;
}

.lower-card-left {
    width: 33.33%;
    display: inline-block;
}

.lower-card-middle {
    width: 33.33%;
    display: inline-block;
}

.trailer-btn {
    /*position: absolute;
    bottom: 15px;
    right: 100px;*/
    margin: 5px;
    width: 10em;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.8);
}

.lower-card-right {
    width: 33.33%;
    display: inline-block;
    text-align: right;
}

.trailer-modal {
    visibility: hidden;
    /*position: fixed;*/
    /*z-index: 999;*/
    /*top: 80px;
    left: 80px;
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 50px 5px rgba(1,1,1,0.5);*/

}

.modal-off {
    visibility: hidden;
    /*transition: */
}

.modal-on {
    visibility: visible;
    position: fixed;
    z-index: 999;
    top: 20px;
    left: calc(50% - 300px);
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 50px 5px rgba(130,130,130,0.5);
    transform: translate(0, 20%);
    transition: transform .3s ease-in;
}

.dimmer-off {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.dimmer-on {
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    opacity: .9;
    transition: background-color .5s, opacity .5s;
}

/*.modal-content {
    width: 600px;
    height: 355px;
    background-color: rgba(0, 0, 0, 0);
}*/
